In [1039]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import os

In [1040]:
matplotlib.rcParams['font.family'] = 'AppleGothic'
matplotlib.rcParams['font.family']

['AppleGothic']

# 불러오기

In [1041]:
Gyeonggi_path = '/../../data/clustering_data/e지방지표/'
Gyeonggi_list = os.listdir(Gyeonggi_path)
len(Gyeonggi_list)

31

In [1042]:
for i in range(len(Gyeonggi_list)):
    #name = e_list[i][:-4]
    #print(e_path+e_list[i])
    path = Gyeonggi_path+Gyeonggi_list[i]
    globals()['df_{}'.format(i)] = pd.read_csv(path, encoding = 'CP949')

# e 경기지표

In [1043]:
eGyeonggi_total = pd.concat([df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,
           df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,
           df_20,df_21,df_22,df_23,df_24,df_25,df_26,df_27,df_28,df_29,
           df_30],
      axis = 0,sort = True)

In [1044]:
eGyeonggi_total.columns = ['2016', '2017', '2018', '2019', '2020', '지역별', '지표별_1', '지표별_2']

In [1045]:
#지역별 이름 통일화
si_mapping = {}
for name in list(set(eGyeonggi_total.지역별)):
   # print(name)
    si_mapping[name] = name[3:]

eGyeonggi_total['지역별'] = eGyeonggi_total['지역별'].map(si_mapping)

In [1046]:
eGyeonggi_total = eGyeonggi_total[['2016','2017','2018','2019','지역별', '지표별_1', '지표별_2']]
eGyeonggi_19yr = eGyeonggi_total[['2019','지역별', '지표별_2']]
eGyeonggi_18yr = eGyeonggi_total[['2018','지역별', '지표별_2']]

## 2019년 자료

In [1047]:
eGyeonggi_19yr_df = eGyeonggi_19yr.set_index(['지표별_2','지역별']).unstack('지표별_2')
#df.columns
#eGyeonggi_19yr_df.info()

In [1048]:
eGyeonggi_19yr_df = eGyeonggi_19yr_df[[
            ('2019',         'EQ-5D (점)'),
            ('2019',          '가구수 (가구)'),
            #('2019',      '건강보험 적용인구 현황'),
            ('2019',        '고위험음주율 (%)'),
            ('2019',       '논경지면적 (헥타르)'),
            ('2019',          '농가수 (가구)'),
            ('2019',          '농가인구 (명)'),
            #('2019',      '도소매업사업체수 (개)'),
            #('2019',      '도소매업종사자수 (명)'),
            ('2019',            '도시지역면적'),
            ('2019',      '등록외국인 현황 (명)'),
            #('2019',           '비만율 (%)'),
            #('2019',          '사망자수 (명)'),
            #('2019',          '사업체수 (개)'),
            #('2019',        '상수도보급률 (%)'),
            #('2019',      '서비스업사업체수 (개)'),
            #('2019',     '소비자물가 등락률 (%)'),
            ('2019',         '순이동인구 (명)'),
            ('2019',      '스트레스 인지율 (%)'),
            #('2019',       '운수업사업체수 (개)'),
            #('2019',       '운수업종사자수 (명)'),
            ('2019',       '유치원 교원수 (명)'),
            ('2019',       '유치원 원아수 (명)'),
            ('2019',          '유치원수 (개)'),
            ('2019',           '음주율 (%)'),
            #('2019', '인구십만명당 자살률 (십만명당)'),
            ('2019',          '인구총조사 인구'),
            ('2019',          '전입인구 (명)'),
            ('2019',          '전출인구 (명)'),
            #('2019',       '제조업사업체수 (개)'),
            #('2019',       '제조업종사자수 (명)'),
            ('2019',              '조이혼율'),
            ('2019',              '조혼인율'),
            #('2019',          '종사자수 (명)'),
            ('2019',   '주관적 건강수준인지율 (%)'),
            ('2019',        '주민등록인구 (명)'),
            ('2019',           '주택수 (호)'),
            ('2019',      '초등학교 교원수 (명)'),
            ('2019',      '초등학교 학생수 (명)'),
            ('2019',         '초등학교수 (개)'),
            ('2019',          '출생아수 (명)'),
            #('2019', '친환경인증 농산물 출하량 (톤)'),
            #('2019', '친환경인증 축산물 출하량 (톤)'),
            ('2019',       '토지거래면적 (천㎡)'),
            ('2019',              '평균연령'),
            #('2019',       '폐수배출업소수 (개)'),
            #('2019',        '하수도보급률 (%)'),
            ('2019',       '학급당 학생수 (명)'),
            ('2019',             '합계출산율'),
            ('2019',          '혼인건수 (건)'),
            ('2019',        '화재발생건수 (건)'),
            ('2019',           '흡연율 (%)')]]

In [1049]:
#eGyeonggi_19yr_df.info()

## 2018년 산업관련 자료

In [1050]:
eGyeonggi_18yr_df= eGyeonggi_18yr.set_index(['지표별_2','지역별']).unstack('지표별_2')
eGyeonggi_18yr_industry = eGyeonggi_18yr_df[[
            ('2018',      '서비스업사업체수 (개)'),
            ('2018',       '제조업사업체수 (개)'),
            ('2018',       '제조업종사자수 (명)'),
            ('2018',      '도소매업사업체수 (개)'),
            ('2018',      '도소매업종사자수 (명)'),
            ('2018',       '운수업사업체수 (개)'),
            ('2018',       '운수업종사자수 (명)'),
            ('2018',          '사업체수 (개)'), 
            ('2018',          '종사자수 (명)')]]

In [1051]:
eGyeonggi_18yr_industry = eGyeonggi_18yr_industry.apply(pd.to_numeric)

In [1052]:
#%matplotlib inline
#eGyeonggi_18yr_industry.apply(pd.to_numeric).plot(kind = 'barh', figsize=(9,9))
#plt.legend(bbox_to_anchor=(1.05, 1))

## 통합

In [1053]:
eGyeonggi_final_df = pd.concat([eGyeonggi_18yr_industry,eGyeonggi_19yr_df],axis = 1)
eGyeonggi_final_df = eGyeonggi_final_df.apply(pd.to_numeric)

In [1054]:
eGyeonggi_final_df.columns = eGyeonggi_final_df.columns.droplevel([0])
eGyeonggi_final_df.reset_index(inplace = True)

eGyeonggi_summary

In [1055]:
eGyeonggi_summary = pd.DataFrame()
eGyeonggi_summary['지역별'] = eGyeonggi_final_df.지역별

In [1056]:
eGyeonggi_summary['서비스업사업체비율'] = eGyeonggi_final_df.apply(lambda x : x['서비스업사업체수 (개)']/ x['사업체수 (개)'], axis = 1)
eGyeonggi_summary['제조업사업체비율'] = eGyeonggi_final_df.apply(lambda x : x['제조업사업체수 (개)']/ x['사업체수 (개)'], axis = 1)
eGyeonggi_summary['도소매업사업체비율'] = eGyeonggi_final_df.apply(lambda x : x['도소매업사업체수 (개)']/ x['사업체수 (개)'], axis = 1)
eGyeonggi_summary['운수업사업체비율'] = eGyeonggi_final_df.apply(lambda x : x['운수업사업체수 (개)']/ x['사업체수 (개)'], axis = 1)

In [1057]:
eGyeonggi_summary['제조업종사자비율'] = eGyeonggi_final_df.apply(lambda x : x['제조업종사자수 (명)']/ x['종사자수 (명)'], axis = 1)
eGyeonggi_summary['도소매업종사자비율'] = eGyeonggi_final_df.apply(lambda x : x['도소매업종사자수 (명)']/ x['종사자수 (명)'], axis = 1)
eGyeonggi_summary['운수업종사자비율'] = eGyeonggi_final_df.apply(lambda x : x['운수업종사자수 (명)']/ x['종사자수 (명)'], axis = 1)

In [1058]:
eGyeonggi_summary['농업가구비율'] = eGyeonggi_final_df.apply(lambda x : x['농가수 (가구)']/ x['가구수 (가구)'], axis = 1)

In [1059]:
eGyeonggi_admin_feature = eGyeonggi_final_df[['지역별','합계출산율','인구총조사 인구','도시지역면적']]

In [1060]:
eGyeonggi_summary = pd.merge(eGyeonggi_summary,eGyeonggi_admin_feature)

In [1061]:
eGyeonggi_summary.to_csv("경기_e지표_정리.csv", mode='w')

# 유동인구

In [1069]:
floatingppl_path = '/../../data/clustering_data/TC_GS_AGRDE_POPLTN/'
floatingppl_list = os.listdir(floatingppl_path)

In [1070]:
for i in range(len(floatingppl_list)):
    #name = e_list[i][:-4]
    #print(e_path+e_list[i])
    path = floatingppl_path+floatingppl_list[i]
    globals()['df_{}'.format(i)] = pd.read_csv(path)

In [1071]:
len(floatingppl_list)

57

In [1072]:
floatingppl_total = pd.concat([df_0,df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,
           df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,
           df_20,df_21,df_22,df_23,df_24,df_25,df_26,df_27,df_28,df_29,
           df_30,df_31,df_32,df_33,df_34,df_35,df_36,df_37,df_38,df_39,
           df_40,df_41,df_42,df_43,df_44,df_45,df_46,df_47,df_48,df_49,
            df_50,df_51,df_52,df_53,df_54,df_55,df_56],
      axis = 0, sort = True)

floatingppl_total 정리

In [1073]:
SI = []
for name in floatingppl_total.시군구명:
    #print(name)
    SI.append(name[:3])
    
floatingppl_total['시명'] = pd.Series(SI)

In [1074]:
floatingppl_total.기준년월 = pd.to_datetime(floatingppl_total.기준년월,format='%Y-%m')

In [1075]:
floatingppl_total.sort_values(by = ['기준년월'], axis = 0, inplace = True)

In [1076]:
#df = floatingppl_total.성별코드
#floatingppl_total.성별코드 = pd.get_dummies(df).M

범주형자료 처리

In [1077]:
#범주형자료 처리
#성별
sex_mapping = {'F': 0,'M': 1}
floatingppl_total['성별코드'] = floatingppl_total['성별코드'].map(sex_mapping)
#나이
age_mapping = {'-10': 10,'10': 10, '10-': 10,
              '20':20, '30':30, '40':40, '50':50, '60+':60}
floatingppl_total['연령대코드'] = floatingppl_total['연령대코드'].map(age_mapping)

In [1078]:
floatingppl_17yr = floatingppl_total[floatingppl_total.기준년월.dt.year==2017]
floatingppl_18yr = floatingppl_total[floatingppl_total.기준년월.dt.year==2018]
floatingppl_19yr = floatingppl_total[floatingppl_total.기준년월.dt.year==2019]
floatingppl_19yr

            기준년월  성별코드     시군구명  시도명  연령대코드 유입시군구명    유입시도명     인구평균수   시명
1192  2019-01-01     1  수원시 장안구  경기도     10    부천시      경기도   2044.30  수원시
603   2019-01-01     0  수원시 장안구  경기도     10     서구    대구광역시      2.07  수원시
99199 2019-01-01     0  용인시 기흥구  경기도     40    부천시      경기도  11552.34  용인시
99198 2019-01-01     1  용인시 기흥구  경기도     40    부천시      경기도  38025.00  용인시
99197 2019-01-01     0  용인시 기흥구  경기도     30    부천시      경기도  12580.88  용인시
...          ...   ...      ...  ...    ...    ...      ...       ...  ...
97586 2019-06-01     1  용인시 처인구  경기도     30    제주시  제주특별자치도   3130.63  용인시
97585 2019-06-01     0  용인시 처인구  경기도     20    제주시  제주특별자치도   1433.88  용인시
97584 2019-06-01     1  용인시 처인구  경기도     20    제주시  제주특별자치도   1637.47  용인시
97590 2019-06-01     1  용인시 처인구  경기도     50    제주시  제주특별자치도   3235.96  용인시
74382 2019-06-01     1     남양주시  경기도     10    부천시      경기도    964.68  남양주

[1027208 rows x 9 columns]

In [1079]:
floatingppl_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8376536 entries, 73471 to 74382
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   기준년월    datetime64[ns]
 1   성별코드    int64
 2   시군구명    object
 3   시도명     object
 4   연령대코드   int64
 5   유입시군구명  object
 6   유입시도명   object
 7   인구평균수   float64
 8   시명      object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 639.1+ MB

# GRDP

In [ ]:
GRDP_path = '/../../data/clustering_data/210_DT_GRDP008_20200825045334.csv'
GRDP_raw = pd.read_csv(GRDP_path)[['행정구역(시·군)별', '경제활동별', '항목', '2016 년', '2015 년', '2014 년', '2013 년', '2012 년', '2011 년', '2010 년']]

In [ ]:
GRDP_raw.columns  = ['지역별', '경제활동별', '항목', '2016', '2015', '2014', '2013', '2012', '2011', '2010']

In [ ]:
GRDP_raw = GRDP_raw[GRDP_raw.지역별 != '합계']
GRDP_total = GRDP_raw[GRDP_raw.항목 == '산출액(당해년가격)']
GRDP_final_df = GRDP_total.replace('-',0)

In [ ]:
GRDP_final_df[['2016', '2015', '2014', '2013', '2012', '2011', '2010']] = \
GRDP_final_df[['2016', '2015', '2014', '2013', '2012', '2011', '2010']].apply(pd.to_numeric)

In [ ]:
GRDP_final_df.head()

In [ ]:
#eGyeonggi_final_df
#floatingppl_19yr
#GRDP_final_df

In [ ]:
eGyeonggi_final_df.to_csv("경기_e지표.csv", mode='w')

In [ ]:
floatingppl_19yr.to_csv("경기_19년도_유동인구.csv", mode='w')

In [ ]:
GRDP_final_df.to_csv("경기_GRDP.csv", mode='w')