In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime

In [2]:
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
%matplotlib inline

In [6]:
import import_ipynb

import 매출비율_표준값
import 사업체수비율_표준값

In [7]:
import json

k1 = json.load(open('매출비율_표준값.ipynb', 'r', encoding='utf-8'))
all_code_lst1 =[]

for cell1 in k1['cells']:
    if cell1['cell_type']=='code':
        all_code_lst1.append("".join(cell1['source']))
        
all_code1 = "\n".join(all_code_lst1)
exec(all_code1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15879 entries, 0 to 15878
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weekly_from_mon  15879 non-null  datetime64[ns]
 1   가맹점업종명           15879 non-null  object
 2   결제상품명            15879 non-null  object
 3   결제총액             15879 non-null  int64
 4   결제횟수             15879 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 620.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22 non-null     object
 1   가구          22 non-null     float64
 2   광학제품        22 non-null     float64
 3   의료기관        22 non-null     float64
 4   레저업소        22 non-null     float64
 5   레저용품        22 non-null     float64
 6   문화취미        22 non-null     float64
 7   보건위생        22 non-null     float64
 8   사무통신        22 non-null     float64
 9   서적문구        22 non-null     float64
 10  수리서비스       22 non-null     float64
 11  숙박          22 non-null     float64
 12  신변잡화        22 non-null     float64
 13  연료판매        22 non-null     float64
 14  유통업         22 non-null     float64
 15  음료식품        22 non-null     float64
 16  의류          22 non-null     float64
 17  요식업         22 non-null     float64
 18  자동차정비       22 non-null     float64
 19  자동차판매       22 non-null     float64
 20  전기가전        22 non-null     float64
 21  주방용구        22 non-null     float64
 22  직물          22 non-null     float64
dtypes: float64(22), object(1)
memory usage: 4.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12962 entries, 0 to 15832
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weekly_from_mon  12962 non-null  datetime64[ns]
 1   가맹점업종명           12962 non-null  object
 2   결제상품명            12962 non-null  object
 3   결제총액             12962 non-null  int64
 4   결제횟수             12962 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 607.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12962 entries, 0 to 15832
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weekly_from_mon  12962 non-null  datetime64[ns]
 1   가맹점업종명           12962 non-null  object
 2   결제상품명            12962 non-null  object
 3   결제총액             12962 non-null  int64
 4   결제횟수             12962 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12962 entries, 0 to 15832
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   weekly_from_mon  12962 non-null  datetime64[ns]
 1   가맹점업종명           12962 non-null  object
 2   결제상품명            12962 non-null  object
 3   결제총액             12962 non-null  int64
 4   결제횟수             12962 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 24 entries, Thank You Pay-N to 행복화성지역화폐
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   가구      24 non-null     float64
 1   광학제품    24 non-null     float64
 2   레저업소    24 non-null     float64
 3   레저용품    24 non-null     float64
 4   문화취미    24 non-null     float64
 5   보건위생    24 non-null     float64
 6   사무통신    24 non-null     float64
 7   서적문구    24 non-null     float64
 8   수리서비스   24 non-null     float64
 9   숙박      24 non-null     float64
 10  신변잡화    24 non-null     float64
 11  연료판매    24 non-null     float64
 12  요식업     24 non-null     float64
 13  유통업     24 non-null     float64
 14  음료식품    24 non-null     float64
 15  의료기관    24 non-null     float64
 16  의류      24 non-null     float64
 17  자동차정비   24 non-null     float64
 18  자동차판매   24 non-null     float64
 19  전기가전    24 non-null     float64
 20  주방용구    24 non-null     float64
 21  직물      24 non-null     float64
dtypes: float64(22)
memory usage: 4.3+ KB

In [8]:
k2 = json.load(open('사업체수비율_표준값.ipynb', 'r', encoding='utf-8'))
all_code_lst2 =[]

for cell2 in k2['cells']:
    if cell2['cell_type']=='code':
        all_code_lst2.append("".join(cell2['source']))
        
all_code2 = "\n".join(all_code_lst2)
exec(all_code2)

FileNotFoundError: [Errno 2] No such file or directory: '../../data/interindustry_analysis/매출비율_표준값.ipynb'

# 경기지역화폐 지역별 업종별 매출비율 표준값

## 매출비율_표준값.ipynb

In [ ]:
매출비율_표준값

In [ ]:
매출비율_표준값.info()

In [ ]:
매출비율_표준값.shape

# 경기지역화폐 가맹점 지역별 업종별 사업체수비율 표준값

## 사업체수비율_표준값.ipynb

In [ ]:
사업체수비율_표준값

In [ ]:
사업체수비율_표준값.info()

In [ ]:
매출비율_표준값.shape

# 경기지역 부가가치유발계수

In [ ]:
vaic

In [ ]:
vaic['Unnamed: 0']

In [ ]:
vaic.rename(columns = {'Unnamed: 0' : '업종'}, inplace = True)
vaic

In [ ]:
부가가치유발계수 = vaic.set_index('업종')
부가가치유발계수

In [ ]:
부가가치유발계수.info()

In [ ]:
부가가치유발계수.shape

# 매출비율 표준값, 사업체수비율 표준값 데이터프레임 행이름 열이름 통합

## 행이름 통합 - 부가가치유발계수 업종명 순서 일치

In [ ]:
reindex = 부가가치유발계수.index
reindex

In [ ]:
매출비율표준값 = 매출비율_표준값.reindex(index = reindex)
매출비율표준값

In [ ]:
사업체수비율표준값 = 사업체수비율_표준값.reindex(index = reindex)
사업체수비율표준값

## 열이름 통합 - 경기지역화폐 가맹점 지역명 순서 일치

In [ ]:
recolumn = 사업체수비율_표준값.columns
recolumn

In [ ]:
매출비율표준값 = 매출비율표준값[recolumn]
매출비율표준값

In [ ]:
사업체수비율표준값 = 사업체수비율표준값[recolumn]
사업체수비율표준값

# 업종비율

## (매출비율 표준값 + 사업체수비율 표준값) / 2
##  업종비율지수 분자

In [ ]:
업종비율 = round((매출비율표준값 + 사업체수비율표준값) / 2, 4)
업종비율

# 업종비율 최대값

## 업종비율지수 분모

In [ ]:
업종비율최대값 = 업종비율.max(axis = 0)
업종비율최대값

In [ ]:
업종비율최대값_df = DataFrame(업종비율최대값)
업종비율최대값df = 업종비율최대값_df.transpose()
업종비율최대값df.index = ['업종비율최대값']
업종비율최대값df

# 업종비율지수

## 해당업종의 업종비율 / 업종비율 최대값

In [ ]:
업종비율지수 = DataFrame(index = reindex, columns = recolumn)

for r in recolumn :
    업종비율지수[r] = DataFrame(round(업종비율[r] / 업종비율최대값[r], 4))

In [ ]:
업종비율지수

In [ ]:
업종비율지수.to_csv(DATA_PATH + '업종비율지수_경기지역전체.csv')

In [ ]:
업종비율지수.plot(kind = 'bar', figsize = (15, 10))

In [ ]:
업종비율지수.plot(kind = 'barh', figsize = (15, 10))

In [ ]:
업종비율지수.T.plot(kind = 'bar', figsize = (15, 10))

In [ ]:
업종비율지수.T.plot(kind = 'barh', figsize = (15, 10))

# 광명, 구리, 의정부, 과천 업종비율지수

### ('노원구', '서울특별시')와 가장 유사한 지역 ==> ('광명시', '경기도')
###   ('중구', '서울특별시')와 가장 유사한 지역 ==> ('구리시', '경기도')
### ('수성구', '대구광역시')와 가장 유사한 지역 ==> ('의정부시', '경기도')
###   ('중구', '대구광역시')와 가장 유사한 지역 ==> ('과천시', '경기도')

In [ ]:
업종비율지수_클러스터링4개지역 = 업종비율지수[['광명', '구리', '의정부', '과천']]
업종비율지수_클러스터링4개지역

In [ ]:
업종비율지수_클러스터링4개지역.to_csv(DATA_PATH + '업종비율지수_클러스터링4개지역.csv')

In [ ]:
업종비율지수_클러스터링4개지역.plot(kind = 'bar', figsize = (15, 10))

In [ ]:
업종비율지수_클러스터링4개지역.plot(kind = 'barh', figsize = (15, 10))

In [ ]:
업종비율지수_클러스터링4개지역.T.plot(kind = 'bar', figsize = (15, 10))

In [ ]:
업종비율지수_클러스터링4개지역.T.plot(kind = 'barh', figsize = (15, 10))