In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = 'AppleGothic'
from matplotlib import pyplot

from datetime import datetime

In [10]:
general=pd.read_csv('/Users/zzna/Documents/zzna/dev/git/mcube/data/localcurrency/general_currency_weekly.csv')
policy=pd.read_csv('/Users/zzna/Documents/zzna/dev/git/mcube/data/localcurrency/policy_currency_weekly.csv')

In [14]:
general['weekly_from_mon']=pd.to_datetime(general['weekly_from_mon'])
policy['weekly_from_mon']=pd.to_datetime(policy['weekly_from_mon'])
general

      weekly_from_mon  가맹점업종명         결제상품명     결제총액  결제횟수
0          2019-03-25  유통업 영리        양주사랑카드     7600     1
1          2019-03-25  일반휴게음식        양주사랑카드    26200     2
2          2019-03-25  일반휴게음식        여주사랑카드    14000     1
3          2019-04-01    건축자재        양주사랑카드    16500     1
4          2019-04-01    건축자재        여주사랑카드     5000     1
...               ...     ...           ...      ...   ...
15874      2019-09-30   회원제형태       의정부사랑카드  2325100     8
15875      2019-09-30   회원제형태      이천사랑지역화폐  1030000     5
15876      2019-09-30   회원제형태  파주 Pay(파주페이)  1960500    11
15877      2019-09-30   회원제형태         하남하머니  2308300     7
15878      2019-09-30   회원제형태      행복화성지역화폐  7711500    21

[15879 rows x 5 columns]

In [18]:
bucheon_gc=general[general['결제상품명']=='부천페이']
bucheon_gc

      weekly_from_mon 가맹점업종명 결제상품명      결제총액  결제횟수
9          2019-04-01   레저업소  부천페이    310700     3
18         2019-04-01  문화.취미  부천페이    150000     2
24         2019-04-01   보건위생  부천페이     64600     4
31         2019-04-01   사무통신  부천페이     10000     1
38         2019-04-01  수리서비스  부천페이     10000     1
...               ...    ...   ...       ...   ...
15812      2019-09-30   전기제품  부천페이    124700     4
15818      2019-09-30   주방용구  부천페이     23000     3
15825      2019-09-30     직물  부천페이     28000     2
15841      2019-09-30     학원  부천페이  43582250   168
15864      2019-09-30  회원제형태  부천페이   9241000    25

[779 rows x 5 columns]

In [23]:
general[general['가맹점업종명']=='가구']['결제총액'].sum()

431376883

In [25]:
bucheon_gc[bucheon_gc['가맹점업종명']=='가구']['결제총액'].sum()

8299500

In [27]:
bucheon_gc[bucheon_gc['가맹점업종명']=='가구']['결제총액'].sum()/general[general['가맹점업종명']=='가구']['결제총액'].sum()

0.01923955670104835

In [59]:
bucheon_gc[bucheon_gc['가맹점업종명']=='직물']['결제총액'].sum()/ \
general[general['가맹점업종명']=='직물']['결제총액'].sum()

0.1283147233818278

In [55]:
bucheon_gc[bucheon_gc['가맹점업종명']=='자동차정비']

Empty DataFrame
Columns: [weekly_from_mon, 가맹점업종명, 결제상품명, 결제총액, 결제횟수]
Index: []

In [60]:
bucheon_gc[bucheon_gc['가맹점업종명']=='유통업 영리']['결제총액'].sum()

1540265803

In [61]:
bucheon_gc[bucheon_gc['가맹점업종명']=='유통업 비영리']['결제총액'].sum()

247600

In [62]:
general[general['가맹점업종명']=='유통업 영리']['결제총액'].sum()

9403413062

In [63]:
general[general['가맹점업종명']=='유통업 비영리']['결제총액'].sum()

1283293678

In [64]:
(1540265803+247600)/(9403413062+1283293678)

0.14415230439831458